.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 54px;
    width: 100%;
}

.image {
    padding-inline: 25px;

    position: relative;
    margin-top: 28px;
    min-width: 224px;
    min-height: 231px;
    box-sizing: border-box;
}

@media (min-width: 1024px) {
    .container {
        flex-direction: row;
        order: -1;
    }
    .image {
        min-width: 300px;
        min-height: 300px;
    }
}

@media (min-width: 1280px) {
    .container {
        gap: 60px;
    }
    .image {
        min-width: 380px;
        min-height: 392px;
        margin-top: 125px;
    }
}